#my_share_hashes > span {
      width: 100%;
      display: block;
}
#site-sidebar > ul > li > a > i {
  padding-right: 4px;
}

#shares-container, #payout-container {
  display: block;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  min-height: 100px;
}

ul#payouts > li {
  font-size: small;
}